<header>
  <nav class="">
    <ul class="">
      <li>
        <a class="" href="/">airbnb</a>
      </li>
      <% if (isLoggedIn) { %>
        <li>
          <a class="<%= currentPage === 'home-list' ? 'bg-red-500' : 'hover:bg-red-500' %>" href="/home">Home Lists</a>
        </li>
        <li>
          <a class="<%= currentPage === 'bookings' ? 'bg-red-500' : 'hover:bg-red-500' %>" href="/bookings">Bookings</a>
        </li>
        <li>
          <a class="<%= currentPage === 'favourites' ? 'bg-red-500' : 'hover:bg-red-500' %>" href="/favourite-list"
            >Favourtie Homes</a
          >
        </li>
        <li>
          <a class="<%= currentPage === 'host-homes' ? 'bg-red-500' : 'hover:bg-red-500' %>" href="/host/host-home-list"
            >Host Homes</a
          >
        </li>
        <li>
          <a class="<%= currentPage === 'add-home' ? 'bg-red-500' : 'hover:bg-red-500' %>" href="/host/add-home"
            >Add Home</a
          >
        </li>
      <% } %>
      <% if (!isLoggedIn) { %>
      <li class="">
          <a class="<%= currentPage === 'signup' ? 'bg-red-500' : 'hover:bg-red-500' %>" href="/signup">SignUp</a>
      </li>
      <li class="">
          <a class="<%= currentPage === 'login' ? 'bg-red-500' : 'hover:bg-red-500' %>" href="/login">Login</a>
      </li>
      <% } else { %>
      <li>
        <form action="/logout" method="post">
          <button class="hover:bg-red-500 cursor-pointer">Logout</button>
        </form>
        <% } %>
      </li>
    </ul>
  </nav>
</header>
